[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
black = "==18.9b0"
pytest = "*"
rope = "*"
twine = "*"
sphinx = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3.6"
